<h1><%= t("user_mailer.activation_needed_email.greeting", name: @user.name.presence || @user.email) %></h1>
<p><%= t("user_mailer.activation_needed_email.intro") %></p>
<p><%= t("user_mailer.activation_needed_email.cta") %></p>
<p><%= link_to t("user_mailer.activation_needed_email.activate"), @url %></p>
<p style="color:#666;font-size:.85em"><%= t("user_mailer.activation_needed_email.ignore") %></p>
