<% content_for :title, t("calendar_connection.title") %>
<p><%= link_to t("calendar.back"), calendar_path %></p>
<h1><%= t("calendar_connection.title") %></h1>

<p>
  <span class="pill <%= { 'connected' => 'success', 'error' => 'danger' }[@connection.status] %>">
    <%= t("calendar_connection.status.#{@connection.status}") %>
  </span>
  <% if @connection.last_synced_at %>
    <span class="caption"><%= t("calendar_connection.last_synced", at: l(@connection.last_synced_at, format: :short)) %></span>
  <% end %>
</p>

<p class="caption"><%= t("calendar_connection.intro") %></p>

<%= form_with model: @connection, url: calendar_connection_path, method: :patch, local: true do |f| %>
  <% if @connection.errors.any? %>
    <div class="flash alert"><%= @connection.errors.full_messages.to_sentence %></div>
  <% end %>
  <p>
    <%= f.label :client_id, t("calendar_connection.client_id") %><br>
    <%= f.text_field :client_id, style: "width:100%", autocomplete: "off" %>
  </p>
  <p>
    <%= f.label :client_secret, t("calendar_connection.client_secret") %><br>
    <%= f.password_field :client_secret, value: nil, style: "width:100%", autocomplete: "off",
                         placeholder: (@connection.client_secret.present? ? t("calendar_connection.secret_set") : nil) %>
    <span class="caption"><%= t("calendar_connection.client_secret_hint") %></span>
  </p>
  <p><%= f.submit t("common.save"), class: "btn" %></p>
<% end %>

<p class="caption"><%= t("calendar_connection.connect_coming_soon") %></p>
